<div class="cart text-center">
  <div class="cart-item">
    <p class="cart-title">Panier</p>

    <div *ngFor="let product of productList">
      <div class="cart-card-div">
        <app-cart-card
          [product] = "product"
        ></app-cart-card>
      </div>
    </div>
  </div>
  <div class="cart-pay">
    <div>
      {{total}} €
    </div>
    <button
      mat-flat-button
      color="primary"
      (click)="pay()"
      [disabled]="productList.length === 0">
      PAYER
    </button>
  </div>
</div>
