<div class="crp-main">
  <div class="crp-main-left">
    <div class="crp-menu-div">
      <div class="container" *ngIf="currentItemCategory === itemCategoryEnum.BOISSONS">
        <div class="row">
        <div class="col-12 crp-menu-item" *ngFor="let drink of menuDrink?.products">
          <div>
            {{drink.name}}
          </div>
        </div>
        </div>
      </div>
      <div *ngIf="currentItemCategory === itemCategoryEnum.SNACK">
        <span>SNACK</span>
      </div>
      <div *ngIf="currentItemCategory === itemCategoryEnum.SANDWICH">
        <span>SANDWICH</span>
      </div>
      <!--      <div *ngFor="let item of menuInfos; index as i;">-->

      <!--      </div>-->
    </div>
    <div class="crp-tab-div">
      <button
        mat-button
        class="crp-tab"
        (click)="selectCategory(itemCategoryEnum.BOISSONS)">
        {{itemCategoryEnum.BOISSONS}}
      </button>
      <button
        mat-button
        class="crp-tab"
        (click)="selectCategory(itemCategoryEnum.SNACK)">
        {{itemCategoryEnum.SNACK}}
      </button>
      <button
        mat-button
        class="crp-tab"
        (click)="selectCategory(itemCategoryEnum.SANDWICH)">
        {{itemCategoryEnum.SANDWICH}}
      </button>
    </div>
  </div>
  <div class="crp-cart-div">

  </div>
</div>
