.crp-main {
  display: flex;
  .crp-main-left {
    width: 80%;

    .crp-menu-div {
      height: 80vh;
      padding: 5px;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
      background-color: rgba(123, 161, 255, 0.3);

      .crp-menu-item {
        width: 200px;
        height: 150px;
        border-radius: 8px;
        margin: 2px;
        cursor: pointer;
        transition: box-shadow 0.2s;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        background-color: white;
      }

      .crp-menu-item:hover {
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
      }
    }
    .crp-tab-div {
      height: 20vh;
      display: flex;
      justify-content: center;

      .crp-tab {
        width: 33%;
        height: 100%;
        cursor: pointer;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
        padding: 3px;

        .crp-tab-icon {
          width: 50px;
        }
      }

      .crp-tab.selected {
        background-color: rgba(123, 161, 255, 0.3);
        color: white;
      }
    }
  }

  .crp-cart-div {
    width: 20%;
    height: 100vh;
  }
}

