.cart-card {
  height: 100%;
  padding: 10px;
  border-radius: 8px;

  .cart-card-button-trash-div {
    text-align: end;
    margin: 2px;

    .cart-card-button-trash {
      width: 25px;
      cursor: pointer;
    }
  }

  .cart-card-title {
    font-size: 18px;
    margin-bottom: 3px;
  }

  .cart-card-img {
    width: 45px;
  }

  .cart-card-button-div {
    display: flex;
    justify-content: space-around;
    margin: 15px;

    .cart-card-button {
      width: 25px;
      height: 25px;
      background-color: red;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      cursor: pointer;
    }
  }
}

